$primary:#3422f3;
$secondary: #999;
$success: #19713f;
$info: #6dd2f7;
$warning: #9d6119;
$danger: #a81919;
$light: #343A4b;
$dark: #293042;

$heading: #3a445d;

$nearwhite: #ddd;
$white: #fff;

$body-bg: #202634;
$body-color: #ccc;
$body-text-align: null;

$spacer: 0.5rem !default;

// Card
$card-bg: $dark;


@import "../node_modules/bootstrap/scss/bootstrap";

:root {
	--nearwhite: #{$nearwhite};
	--white: #{$white};
	--bodycolor: #{$body-color};
	--heading: #{$heading};
}

// ---------- TAG -------------
a {
	color: var(--nearwhite);
	text-decoration: none;
}

a:hover {
	color: var(--white);
	text-decoration: underline;
}

// ---------- COMPONENT BOOTSTRAP -------------

.card-title {
	color: var(--white);
}

.btn-micro {
	padding: 0 4px;
	font-size: 0.8em;
}

// ---------- COMPONENTI CUSTOM -------------
.libro-0 {
	color: lightcoral;
}

.libro-1 {
	color: lightblue;
}

.libro-2 {
	color: lightgreen;
}

// ---------- RIGHE -------------
.intestazione {
	background-color: var(--heading);
	padding: 5px 0;
	color: var(--nearwhite);
}

.riga {
	padding: 3px 0;
}

.riga:nth-child(even) {
	background: #343A4b;
}

.flash:hover {
	outline: 2px solid #ddd;
	z-index: 2;

}

.flash {
	position: relative;
}